
<section class="corpo">
  <p> My Time Expense  </p>

  <nav>
    <ul class="navbar">
      <li>  
        <a href="" class="teste"> Admin </a>  
      </li>
      <li> 
        <a href="" class="teste"> Reports </a>  
      </li>
      <li> 
        <a href="" class="teste"> Print </a>  
      </li>
      <li> 
        <a href="" class="teste"> Import </a>  
      </li>
      <li> 
        <a href="#" class="teste">  my Receipts </a> 
      </li>
      <li> 
        <a href="#" class="teste" >  Circle </a>  
      </li>
      <li> 
        <a href="#" class="teste"> Log out </a>  
      </li>
      <li> 
        <a href="#" class="teste"> Help </a>  
      </li>
    </ul>
    <!-- dropdown -->
  </nav>
</section>

<section class="subnavbar">
  
    <div> calendário </div>
    <button type="submit">submit</button>
 
</section>

<div class="boxContent">
  <p>
    <img src="#" alt="" class="alerta">
    Você ainda não tem nenhum reembolso cadastrado para esta quinzena
  </p>
  <button type="submit">Solicitar um Reembolso</button>
</div>



